.p_satu{
	background-color: #D2691E;
}

.p_dua{
	background-color: blue;
	color: white;
}

.p_tiga{
	font-size: 20px;
	font-family: sans-serif;
}

.p_empat{
	background-color: #A9A9A9;
	font-weight: bold;
}